body{
overflow: hidden;
}

.menu a:hover {
 color: yellow; 
}

.carousel-inner > .item > img {
  margin: 0 auto;
}



.slide {
  height: 50vh;
  width: 100%;
}



.footer {
  padding: 5px;
}



.schedule {
  height: 500px;
  }




.faq {
 height: 500px;
}

 

.list-faq {
 list-style: none;
}

@media only screen and ( max-width: 600px ) {
  
.assets{
     margin: auto;
   }
}
