.carousel-inner > .item > img {
  margin: 0 auto;
}

.slide {
  height: 50vh;
  width: 100%;
}

.footer {
  height: 10vh;
  padding: 5px;
}

.schedule {
  height: 500px;
  background-color: #a3d6cb;
  }
.assets {
  
 }

.faq {
 height: 500px;
}

 
